@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Libre+Baskerville');

.wrapper {
    background-size: 1366px !important;
    background-size: cover;
    background: url('../../../images/header-background.png') no-repeat;
    width: 100%;
    height: 619px;
    margin: 0;
    padding: 0;
    position: relative;
}

.top_wrapper {
    display: flex;
    color: white;
    height: 60px;
    font-family: '1mplus', sans-serif;
    position: relative;
    width: 100%;
    align-items: center;
    font-weight: 800;
    letter-spacing: 2px;
    color: #FCFCFC;
}

.logo {
    margin: 0 60px;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
}

.menu {
    font-size: 20px;
    display: flex;
    align-items: center;
    width: 700px;
    justify-content: space-evenly;
}

.menu li {
    cursor: pointer;
}

.flags {
    display: flex;
    width: 200px;
}

.flags img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 0 4px;
}

.login {
    background: none;
    outline: none;
    border: none;
    color: white;
    width: 120px;
    height: 37px;
    font-size: 20px;
    background: #5E239D;
    border-radius: 36px;
    cursor: pointer;
}

.content_wrapper {
    display: block;
    position: absolute;
    height: 100%;
    top: 200px;
    left: 100px;
}

.content {
    font-family: '1mplus extraBold';
}

.content p:nth-child(1) {
    font-size: 96px;
    font-weight: 900;
    color: white;
    font-style: normal;
}

.content p:nth-child(2) {
    font-size: 90px;
    font-weight: 300;
    color: #f61067;
}

.online_request {
    display: flex;
    border: 2px solid rgba(255, 255, 255, 0.25);
    height: 57px;
    width: 700px;
    position: absolute;
    top: 400px;
    justify-content: center;
    align-items: center;
}

.online_request span {
    color: white;
    font-size: 21px;
    letter-spacing: 0.45em;
    margin-right: 40px;

}

.arrow {
    border: 1px solid white;
    font-size: 30px;
    color: white;
    border-radius: 50%;
    font-weight: 800;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4px 4px 4px;
    position: absolute;
    right: 30px;
    top: 9px;
}

.arrow:hover {
    background: black;
    cursor: pointer;
}

.menu {
    padding: 0;
    margin: 0;
    font-size: 100%;
}
.first{
    width: 200px !important;
}
.menu li {
    list-style: none;
    float: left;
    height: 40px;
    padding: 0;
    margin: 0;
    width: 150px;
    text-align: center;
    position: relative;
    padding-top: 20px;
}


.menu li ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 150px;
    display: none;
    position: absolute;
    left: 0;
    top: 45px;
    z-index: 999;
    padding: 15px 0 0  0;
}

.menu li ul li {
    border-radius: 10px;

    float: none;
    height: 40px;
    margin: 0;
    width: 250px;
    left: -50px;
    text-align: center;
    background: #3A0475;
}

.menu li a {
    display: block;
    height: 50px;
    color: #fff;
    text-decoration: none;
}


.menu li:hover ul {
    display: block;
}

.menu li:hover ul li:hover{
    background: gold;
    z-index: 2000;
}
