.home__news__container{
    display: flex;
    width: 100%;
    padding: 0 100px;
}
.home__news__header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
}
.home_news_wrapper{
    
}