
.NotFound
{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	justify-items: center;
	align-items: center;
	align-self: center;
}

.nf_h1{
	font-family: RobotoBold;
	font-style: normal;
	font-weight: bold;
	font-size: 200px;
	line-height: 140.88%;
	font-weight: 700;


	/* or 282px */
	display: flex;
	align-items: center;
	text-align: center;
	margin: 0;
	color: #202020;
}
.nf_p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 140.88%;
	color: #202020;
	margin: 0;
}

.nf_button {
	width: 206px;
	height: 50px;
	background: #32B482;
	box-shadow: 0px 10px 20px rgba(50, 180, 130, 0.25);
	border-radius: 5px;
	color: #fff;
	text-transform: uppercase;
	font-family: Raleway;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	margin-top: 50px;
	font-style: normal;
	border: none;
}

@media (max-width: 660px) {

	.NotFound {
		justify-content: center;
		align-items: center;
		justify-items: center;
	}

	.nf_h1 {
		font-size: 112px;
		line-height: 100px;
	}

	.nf_p {
		font-size: 21px;
	}

	.nf_button {
		width: 140px;
		height: 40px;
		font-size: 14px;
	}

}