.wrapper {
    height: 350px;
    background: #150433;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    font-family: 'Montserrat';
}

.logo {
    font-weight: 900;
    font-size: 36px;
    letter-spacing: 2px;
    color: #FCFCFC;
    width: 200px;
    height: 20%;
}

.logo p {
    padding: 30px 0 0 90px;
}

.menu{
    cursor: pointer;
}

.references {
    letter-spacing: 2px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    line-height: 28px;
}

.title {
    color: white;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 800;
    padding: 20px;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 2px;
}

.hr {
    border: none;
    height: 2px;
    width: 100px;
    background: #F61067;
    color: #F61067;
    line-height: 0;
    font-size: 0;
    padding: 0;
    margin: 0;
}