.title_about_us {
    width: 100%;
    display: flex;
    height: 300px;
    background-image: url('../../../images/about_us_logo.png');
    background-repeat: no-repeat;
    background-size: 100% 300px;
}

.title_gradient {
    width: 100%;
    height: 100%;
    background: rgba(58, 4, 117, 0.65);
    display: flex;
    align-items: center;
}

.title_gradient p {
    margin-left: 150px;
    font-weight: 900;
    font-size: 54px;
    line-height: 80px;
    color: #F61067;
    width: 500px;
    font-family: '1mplus extraBold';
}

.slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slogan p {
    display: flex;
    color: #F61067;
    font-weight: 800;
    font-size: 36px;
    line-height: 207.9%;
    font-family: '1mplus extraBold';
    text-align: center;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.slogan span {
    display: flex;
    font-weight: 800;
    font-size: 14px;
    line-height: 207.9%;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(48, 35, 61, 0.8);
    width: 500px;
}

.info_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 30px 0;

}

.info {
    width: 50%;
    box-sizing: border-box;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
}

.info_number,
.info_number_2,
.info_number_3 {
    font-weight: 800;
    font-size: 18px;
    line-height: 37px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.info_number {
    color: #F61067;

}

.info_number_2 {
    color: #00F0B5;
    ;
}

.info_number_3 {
    color: #5E239D;
}

.info_title {
    font-weight: 500;
    font-size: 27px;
    line-height: 40px;
    color: #30233D;
    padding: 20px 0;
}

.info_description {
    font-weight: 500;
    font-size: 14px;
    line-height: 163.4%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #776C82;
    padding: 20px 0;
}

.picture_wrapper,
.picture_wrapper_2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 450px;
}

.picture_wrapper {
    align-items: flex-end;
}

.picture_wrapper_2 {
    align-items: flex-start;
}

.image {
    width: 100%;
    height: 400px;
}

.substrate,
.substrate_2,
.substrate_3 {
    width: 80%;
    height: 50px;
}

.substrate {
    background: #F61067;
}

.substrate_2 {
    background: #00F0B5;
}

.substrate_3 {
    background: #5E239D;
}