html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	font-family: '1mplus';
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: '1mplus';
	src: local('1mplus'), url(./fonts/MPLUS1/MPLUS1p-Regular.ttf);
}
@font-face {
	font-family: '1mplus bold';
	src: local('1mplus bold'), url(./fonts/MPLUS1/MPLUS1p-Bold.ttf);
}
@font-face {
	font-family: '1mplus black';
	src: local('1mplus black'), url(./fonts/MPLUS1/MPLUS1p-Black.ttf);
}
@font-face {
	font-family: '1mplus light';
	src: local('1mplus light'), url(./fonts/MPLUS1/MPLUS1p-Light.ttf);
}
@font-face {
	font-family: '1mplus extraBold';
	src: local('1mplus extraBold'), url(./fonts/MPLUS1/MPLUS1p-ExtraBold.ttf);
}
@font-face {
	font-family: '1mplus medium';
	src: local('1mplus medium'), url(./fonts/MPLUS1/MPLUS1p-Medium.ttf);
}
@font-face {
	font-family: '1mplus thin';
	src: local('1mplus thin'), url(./fonts/MPLUS1/MPLUS1p-Thin.ttf);
}