.wrapper {
    display: block;
    min-width: 1340px;
}

.title {
    font-weight: 800;
    font-size: 40px;
    line-height: 207.9%;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #150433;
    height: 300px;
    box-sizing: border-box;
    padding: 120px 0 0 100px;
}

.description {
    width: 100%;
    position: relative;
    min-height: 900px;
}

.desc_content {
    width: 580px;
    margin-left: 40px;
}

.con_title {
    font-weight: 800;
    font-size: 12.6px;
    line-height: 26px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #F61067;
}

.con_slogan {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    color: #150433;
    margin-top: 50px;
}

.con_plus {
    margin-top: 30px;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 29px;
    color: #150433;
}

.con_con {
    margin-top: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 163.35%;
    color: #150433;
}

.picture_one {
    position: absolute;
    right: 50px;
    top: 0;
}

.picture_two {
    position: absolute;
    right: 300px;
    top: 450px;
}

.certain_user {
    width: 100%;
    position: relative;
    min-height: 640px;
}

.user_content {
    background: #5E239D;
    height: 220px;
    position: absolute;
    width: 1100px;
    box-sizing: border-box;
    bottom: 120px;
}

.user_content p {
    font-style: italic;
    font-weight: normal;
    font-size: 22px;
    line-height: 40px;
    display: flex;
    align-items: center;
    padding: 20px 180px 40px 40px;
    color: #FFFFFF;
}

.user_word {
    position: absolute;
    font-weight: 800;
    font-size: 18px;
    line-height: 29px;
    color: #F61067;
    left: 180px;
    bottom: 50px;
}

.certain_user_img {
    position: absolute;
    top: 0;
    right: 60px;
    z-index: 2;
}